################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZeuxApiBackend/obj
/.vs
/ZeuxApiBackend/bin/Debug/netcoreapp2.1
/ZeuxApiServer/bin/Debug/netcoreapp2.2
/ZeuxApiServer/obj
/ZeuxApiTests/bin/Debug/netcoreapp2.2
/ZeuxApiTests/obj
