################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZeuxApiBackend/obj
/.vs
/ZeuxApiBackend/bin/Debug/netcoreapp2.1
